{
  "rules": {
    "no-unused-expressions": 0
  },
  "globals": {
    "describe": true,
    "test": true,
    "expect": true,
    "beforeAll": true,
    "beforeEach": true,
    "afterAll": true,
    "afterEach": true
  }
}
